@media all and (min-width: 1800px) {

}

@media all and (max-width: 1499px) {
    .owl-prev, .owl-next {
        width: 130px;
    }
}

@media all and (max-width: 1400px) {
    .owl-prev, .owl-next {
        width: 50px;
    }
    .item-content {
        padding-right: 30px;
    }
    .item-img {
        margin-left: 30px;
    }
    .home-header .header-top-box {
        padding-top: 20px;
        padding-bottom: 15px;
    }
        .main-nav ul li a {
            padding: 15px 5px 16px;
        }
    .hero-banner-bottom-wrap {
        height: 90px;
    }
}

@media all and (max-width: 1280px) {
    .item-content {
        padding-right: 50px;
    }
    .item-img {
        margin-left: 50px;
        margin-right: 50px;
    }
    .banner-box {
        padding-top: 140px;
    }
    .hero-banner-bottom-box {
        position: relative;
    }
}

@media all and (max-width: 1199px) {
    .footer-logo {
        text-align: center;
        float: none;
        width: 100%;
    }
    .footer-nav > ul {
        float: none;
    }
}

@media all and (max-width: 1080px) {
    .person-ava-box {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .person-info-box {
        text-align: center;
    }
}

@media all and (max-width: 1024px) {
    .item-img {
        width: 400px;
        height: 400px;
        margin-top: 90px;
        margin-bottom: 90px;
        line-height: 400px;
    }
}

@media all and (max-width: 991px) {
/*.header-top-box {*/
    /*padding-top: 20px;*/
    /*margin-bottom: 16px;*/
/*}*/
    .desktop {
        display: none !important;
    }
    .banner-box-wrap {
        display: table;
        text-align: center;
        width: 100%;
        float: none;
        padding-top: 80px;
    }
    .banner-box {
        text-align: center;
        width: 100%;
    }
    .hero-banner:before {
        background: -moz-linear-gradient(0deg, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0.35) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(35%, rgba(0,0,0,0.35)), color-stop(100%, rgba(0,0,0,0.35))); /* safari4+,chrome */
        background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.35) 35%,  rgba(0,0,0,0.35) 100%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(0deg, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0.35) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(0deg, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0.35) 100%); /* ie10+ */
        background: linear-gradient(90deg, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0.35) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
    }
        .banner-title {
            font-size: 75px;
            margin-bottom: 20px;
        }
        .banner-box p {
            font-size: 20px;
        }
        .banner-box p:last-child {
            margin-bottom: 20px;
        }
        .hero-banner-bottom-call-box {
            width: 300px;
        }
        .hero-banner-bottom-call-box .american-a {
            padding-left: 80px;
            font-size: 18px;
        }
        .hero-banner-bottom-box > .container:before {
            margin-right: -320px;
        }
    .mobile-menu-wrap,
    .mobile-menu-toggle {
        display: block;
    }
    .header-top-box .header-top-btn-box {
        margin-right: 80px;
    }

    .section {
        padding: 80px 0 60px;
    }
}

@media all and (max-width: 960px) {
    .item-content .item-name {
        font-size: 40px;
        margin-bottom: 18px;
    }
}

@media all and (max-width: 900px) {
    .owl-prev:before,
    .owl-next:before {
        top: 275px;
    }
    .section-our-plan .list-wrap-img {
        top: -75px;
        left: 50%;
        margin-left: -75px;
        width: 150px;
        height: 150px;
        line-height: 130px;
    }

    .section-our-plan .cell-box {
        padding: 10px 25px 25px;
    }
    .item {
        margin: 75px auto 75px;
    }
        .item-img {
            float: none;
            display: block;
            margin: 0 auto 20px;
        }
        .item-content {
            display: inline-block;
            height: auto;
            padding-right: 0;
            margin: 0 50px;
            text-align: center;
        }
}

@media all and (max-width: 860px) {
    .item-img {
        width: 350px;
        height: 350px;
        line-height: 350px;
    }
    .owl-prev:before,
    .owl-next:before {
        top: 250px;
    }
    .header-top-box .header-top-btn-box {
        display: none;
    }

    .box {
        padding: 75px 50px 75px;
    }
}

@media all and (max-width: 768px) {
    .section-main-slider {
        background: transparent;
    }
    .tabs > li {
        padding: 30px 10px;
    }
    .banner-box {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .hero-banner-bottom-wrap {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .hero-banner-bottom-came-see-box,
    .hero-banner-bottom-call-box {
        display: block;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .hero-banner-bottom-box {
        position: relative;
    }
    .hero-banner-bottom-box > .container:before {
        width: 100%;
        height: 104px;
        right: 0;
        margin-right: 0;
    }
        .hero-banner-bottom-call-box {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-bottom: 12px;
        }
        .hero-banner-bottom-came-see-box {
            padding-bottom: 28px;
        }
            .came-see {
                position: relative;
                right: 0;
                top: 10px;
                margin-right: 0;
            }

}

@media all and (max-width: 782px) {

}

@media all and (max-width: 767px) {
.footer-logo {
    padding: 15px 0 0;
}
    .footer-nav > ul > li {
        display: block;
    }
        .footer-nav > ul > li > a {
            padding: 18px 0 16px;
            width: -webkit-calc(100% + 40px);
            width: -moz-calc(100% + 40px);
            width: calc(100% + 40px);
            margin-left: -20px;

        }
.footer-bottom-box {
    text-align: center;
}
    .footer-social {
        float: none;
        display: inline-block;
    }
    .copyright {
        float: none;
        padding-top: 0;
        padding-bottom: 20px;
    }
}

@media all and (max-width: 680px) {
    .cell-list > li {
        display: inline-block;
        float: none;
        width: 48%;
        margin-bottom: 20px;
        vertical-align: top;
    }
    .section-our-plan .cell-list > li:nth-child(even) {
         margin-top: 0;
    }
    .section-our-plan .cell-list {
        margin-bottom: -60px;
    }
    .section-our-plan .cell-list > li {
        margin-bottom: 120px;
    }

}

@media all and (max-width: 640px) {
.home-header .header-top-box {
    padding-top: 25px;
}
    .logo img {
        height: 35px;
    }
    .banner-title {
        font-size: 50px;
    }
    .banner-box p {
        font-size: 18px;
    }

    .section-person-slider {
        padding-bottom: 40px;
    }
    .section-person-slider .title {
        margin-bottom: 10px;
    }

    .tabs {
        display: none;
    }
    .box {
        padding: 50px 25px 50px;
    }
    .box,
    .tabs-mini {
        border: 2px solid #ffcc00;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .box-tabs-list > li {
        margin-bottom: 20px;
    }
    .box-tabs-list > li .tabs-mini {
        display: block;
        padding: 10px;
    }
    .box-tabs-list > li.visible .tabs-mini {
        display: block;
    }
    .box-tabs-list > li:last-child {
        margin-bottom: 0;
    }
    .box-tabs-list > li.visible .tabs-mini {
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        border-bottom: none;
    }
    .box-tabs-list > li.visible .box {
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
        border-top: none;
    }

    .box-tabs-list > li.visible .box:before {
        position: absolute;
        content: '';
        width: 129px;
        height: 103px;
        top: 50%;
        left: 50%;
        margin-top: -51px;
        margin-left: -64px;
        background-image: url(../img/content/quote.png);
    }
    .box-tabs-list:before {
        content: none;
    }

    .item-content .item-name {
        font-size: 36px;
    }


}

@media all and (max-width: 600px) {
    .item-img {
        width: 250px;
        height: 250px;
        line-height: 350px;
    }
    .owl-prev:before,
    .owl-next:before {
        top: 200px;
    }
    .owl-stage-outer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
    }
}

@media all and (max-width: 560px) {

}

@media all and (max-width: 500px) {

}

@media all and (max-width: 480px) {
    .cell-list > li {
        display: inline-block;
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    .title {
        max-width: 100%;
        font-size: 28px;
    }
    .section-content p {
        font-size: 18px;
    }
    .box {
        padding: 20px 10px 20px;
    }

    .item-img {
        width: 250px;
        height: 250px;
        line-height: 250px;
    }
    .item-content .item-name {
        font-size: 34px;
    }

    .main-item-slider {
        width: -webkit-calc(100% + 40px);
        width: -moz-calc(100% + 40px);
        width: calc(100% + 40px);
        margin-left: -20px;
    }
}

@media all and (max-width: 420px) {
    .logo img {
        height: 30px;
    }
    .home-header .header-top-box {
        padding-top: 30px;
    }
}

@media all and (max-width: 380px) {
    .item-img {
        width: 200px;
        height: 200px;
        line-height: 200px;
    }
    .owl-prev:before,
    .owl-next:before {
        top: 180px;
    }
    .mobile-menu-logo-box {
        padding-top: 17px;
    }
        .mobile-menu-logo-box img {
            height: 22px;
        }

    .section-main-slider {
        background: none;
    }
    .container.hero-container {
        background: none;
    }
        .item-img {
            -webkit-box-shadow: 0 0 30px -5px rgba(205,205,205,1);
            -moz-box-shadow: 0 0 30px -5px rgba(205,205,205,1);
            -o-box-shadow: 0 0 30px -5px rgba(205,205,205,1);
            box-shadow: 0 0 30px -5px rgba(205,205,205,1);
        }

            .owl-prev:before {
                background: url(../img/content/arrow_prev_b.png) no-repeat center transparent;
            }
}

@media all and (max-width: 360px) {
/*.home-header .header-top-box {*/
    /*padding-top: 30px;*/
/*}*/
    .logo img {
        height: 25px;
    }
    .banner-box a {
        margin-right: 0;
    }
}

@media all and (max-width: 340px) {

}