@media all and (min-width: 1220px) and (min-width: 1220px) {

}

@media all and (max-width: 1499px) {
    .owl-prev, .owl-next {
        width: 130px;
    }
}

@media all and (max-width: 1400px) {
    .owl-prev, .owl-next {
        width: 50px;
    }
    .item-content {
        padding-right: 30px;
    }
    .item-img {
        margin-left: 30px;
    }
    .home-header .header-top-box {
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .hero-banner-bottom-wrap {
        height: 120px;
    }

    .main-item-slider {
        width: -webkit-calc(100% + 40px);
        width: -moz-calc(100% + 40px);
        width: calc(100% + 40px);
        margin-left: -20px;
    }
}

@media all and (max-width: 1280px) {
    .item-content {
        padding-right: 50px;
    }
    .item-img {
        margin-left: 50px;
        margin-right: 50px;
    }
    .banner-box {
        padding-top: 40%;
    }
    .hero-banner-bottom-box {
        position: relative;
    }
}

@media all and (max-width: 1199px) {
    .footer-logo {
        text-align: center;
        float: none;
        width: 100%;
    }
    .footer-nav {
        text-align: center;
    }
        .footer-nav > ul {
            float: none;
        }
    .support-issue-page .search-content-box .input-style {
        min-width: 200px;
    }
}

@media all and (max-width: 1080px) {
    .sidebar {
        width: 270px;
    }

    .person-ava-box {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .person-info-box {
        text-align: center;
    }
    .person-info-box {
        display: block;
        padding-top: 15px;
    }

    .manual-list {
        width: 280px;
    }

}

@media all and (max-width: 1024px) {
    .item-img {
        width: 400px;
        height: 400px;
        margin-top: 90px;
        margin-bottom: 90px;
        line-height: 400px;
    }
    .support-issue-page .search-box {
        float: none;
        margin-left: 0;
        margin-bottom: 5px;
    }
    .support-issue-page .search-content-box .input-style {
        min-width: auto;
    }
    .one-product-about-wrap {
        width: 320px;
    }
}

@media all and (max-width: 991px) {

    .desktop {
        display: none !important;
    }
    .banner-box-wrap {
        display: table;
        text-align: center;
        width: 100%;
        float: none;
    }
    .banner-box {
        text-align: center;
        width: 100%;
        padding-top: 15%;
        padding-bottom: 30px;
    }
    .hero-banner:before {
        background: -moz-linear-gradient(0deg, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0.35) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(35%, rgba(0,0,0,0.35)), color-stop(100%, rgba(0,0,0,0.35))); /* safari4+,chrome */
        background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.35) 35%,  rgba(0,0,0,0.35) 100%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(0deg, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0.35) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(0deg, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0.35) 100%); /* ie10+ */
        background: linear-gradient(90deg, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0.35) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
    }
        .banner-title {
            font-size: 75px;
            margin-bottom: 20px;
        }
        .banner-box p {
            font-size: 20px;
        }
        .banner-box p:last-child {
            margin-bottom: 20px;
        }
        .hero-banner-bottom-call-box {
            width: 300px;
        }
        .hero-banner-bottom-call-box .american-a {
            padding-left: 80px;
            font-size: 18px;
        }
        .hero-banner-bottom-box > .container:before {
            margin-right: -320px;
        }
    .mobile-menu-wrap,
    .mobile-menu-toggle {
        display: block;
    }
    .header-top-box .header-top-btn-box {
        margin-right: 80px;
    }

    .section {
        padding: 80px 0 60px;
    }
    .section-content {
        margin: 10px auto 30px;
    }
}

@media all and (max-width: 980px) {
    .contact-box-list {
        text-align: left;
        display: block
    }
        .contact-box-list > li {
            display: block;
            width: 100%;
            padding: 20px 0 20px 0;
            border-bottom: 1px solid #e6e6e6;
            border-left: none;
        }
        .contact-box-list > li:first-child {
            width: 100%;
            padding-top: 0;
        }
        .contact-box-list > li:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
}

@media all and (max-width: 960px) {
    .item-content .item-name {
        font-size: 40px;
        margin-bottom: 18px;
    }

}

@media all and (max-width: 900px) {
    .owl-prev:before,
    .owl-next:before {
        top: 275px;
    }
    .section-our-plan .list-wrap-img {
        top: -75px;
        left: 50%;
        margin-left: -75px;
        width: 150px;
        height: 150px;
        line-height: 130px;
    }

    .section-our-plan .cell-box {
        padding: 10px 25px 25px;
    }
    .item {
        margin: 75px auto 75px;
    }
        .item-img {
            float: none;
            display: block;
            margin: 0 auto 20px;
        }
        .item-content {
            display: inline-block;
            height: auto;
            padding-right: 0;
            margin: 0 50px;
            text-align: center;
        }
}

@media all and (max-width: 860px) {
    .item-img {
        width: 350px;
        height: 350px;
        line-height: 350px;
    }
    .owl-prev:before,
    .owl-next:before {
        top: 250px;
    }
    .mobile-menu-btn-box {
        display: block;
        padding: 0 15px;
    }
        .mobile-menu-btn-box a.btn {
            min-width: 80%;
            max-width: 100%;
            margin-bottom: 20px;
        }
        .mobile-menu-btn-box a.btn:last-child{
            margin-bottom: 0;
        }
    .header-top-box .header-top-btn-box {
        display: none;
    }
    .box {
        padding: 75px 50px 75px;
    }
    .container-bg.my-box-shadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }
    .container-bg {
        background-color: transparent;
    }
        .content-box {
            display: table-header-group;
        }
    .sidebar {
        display: table-footer-group;
    }
        .sidebar-list:first-child {
            margin-top: 40px;
        }
        .sidebar-list {
            overflow: hidden;
            margin-left: -20px;
        }
            .sidebar-list > li{
                float: left;
                width: 33.33%;
                padding-left: 20px;
            }
    .map-wrapper {
        margin-left: -40px;
        margin-right: -40px;
        border-left: none;
        border-right: none;
    }

    .widget-categori {
        margin: 40px auto 20px;
    }
        .category-box-list {
            max-width: 380px;
        }
    #carousel {
        max-width: 60%;
    }
    .full-with-content-box {
        display: table;
    }
    .manual-list-wrap {
        display: table-footer-group;
    }
    .manual-list {
        width: 480px;
        margin: 40px auto 0;
        float: none;
    }
    .one-product-about-wrap {
        display: table-header-group;
        width: 100%;
    }
        .one-product-about-box {
            padding-top: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
    #slider-one-product {
        width: 100%;
    }

}

@media all and (max-width: 768px) {
    .section-main-slider {
        background: transparent;
    }
    .tabs > li {
        padding: 30px 10px;
    }

    .hero-banner-bottom-wrap {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .hero-banner-bottom-came-see-box,
    .hero-banner-bottom-call-box {
        display: block;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .hero-banner-bottom-box {
        position: relative;
    }
    .hero-banner-bottom-box > .container:before {
        width: 100%;
        height: 104px;
        right: 0;
        margin-right: 0;
    }
        .hero-banner-bottom-call-box {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .hero-banner-bottom-came-see-box {
            padding-top: 20px;
            padding-bottom: 24px;
        }
            .hero-banner-bottom-came-see-box p {
                text-align: center;
            }
            .hero-banner-bottom-came-see-box .came-see {
                position: static;
                right: 0;
                top: 0;
                margin-top: 13px;
                margin-right: 0;
            }
}

@media all and (max-width: 782px) {

}

@media all and (max-width: 768px) {
    .footer-logo {
        padding: 20px 0 8px;
    }
        .footer-nav {
            overflow: visible;
            text-align: center;
            padding-bottom: 10px;
        }
        .footer-nav li {
            display: block;
        }
            .footer-nav li a {
                padding: 16px 0 14px;
                width: -webkit-calc(100% + 40px);
                width: -moz-calc(100% + 40px);
                width: calc(100% + 40px);
                margin-left: -20px;
            }
    .footer-bottom-box {
        text-align: center;
    }
        .footer-social {
            float: none;
            display: inline-block;
            margin-bottom: 15px;
        }
            .footer-social li {
                width: 40px;
                height: 40px;
                margin-left: 15px;
            }
                .footer-social i {
                    line-height: 40px;
                }
                .footer-social i.fa {
                    font-size: 25px;
                }
        .copyright {
            float: none;
            padding-top: 0;
            padding-bottom: 10px;
            margin-right: 0;
        }

    .cell-list > li {
        display: inline-block;
        float: none;
        width: 48%;
        margin-bottom: 20px;
        vertical-align: top;
    }
    .section-our-plan .cell-list > li:nth-child(even) {
        margin-top: 0;
    }
    .section-our-plan .cell-list {
        margin-bottom: -60px;
    }
    .section-our-plan .cell-list > li {
        margin-bottom: 100px;
    }
    .sidebar-list > li {
        width: 50%;
    }

    .sidebar-list > li:nth-child(odd) {
        clear: both;
    }

    .hero-banner-bottom-came-see-box-text {
        display: block;
        width: 100%;
        padding-right: 0;
    }
    .hero-banner-bottom-came-see-box-btn {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media all and (max-width: 680px) {

}

@media all and (max-width: 640px) {
.home-header .header-top-box {
    padding-top: 25px;
}
    .logo img {
        height: 35px;
    }
    .banner-title {
        font-size: 50px;
    }
    .banner-box p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .banner-box p + .btn {
        margin-top: 10px;
    }

    .section-person-slider {
        padding-bottom: 40px;
    }
    .section-person-slider .title {
        margin-bottom: 40px;
    }

    .tabs {
        display: none;
    }
    .box {
        padding: 25px 25px 50px;
    }
    .box-tabs-list > li {
        overflow: hidden;
        margin-bottom: 20px;
        border: 2px solid #ffcc00;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .box-tabs-list > li .tabs-mini {
        display: block;
        padding: 20px 10px 0 10px;
    }

    .box-tabs-list > li:last-child {
        margin-bottom: 0;
    }

    .box-tabs-list > li .box:before {
        position: absolute;
        content: '';
        width: 129px;
        height: 103px;
        top: 50%;
        left: 50%;
        margin-top: -51px;
        margin-left: -64px;
        background-image: url(../img/content/quote.png);
    }
    .box-tabs-list:before {
        content: none;
    }

    .item-content .item-name {
        font-size: 36px;
    }
    .page-action-box {
        float: none;
        margin-left: 0;
        margin-bottom: 0;
    }
    .content-list-box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .wp-pagenavi {
        text-align: center;
    }
    .event-calendar {
        float: none;
        margin: 0 auto;
    }
    .event-info-box {
        text-align: center;
    }
    #carousel-one-product {
        display: none;
    }
    #slider-one-product .flex-control-nav {
        display: block;
    }
    #slider-one-product {
        margin-bottom: 60px;
    }
}

@media all and (max-width: 600px) {
    .item-img {
        width: 250px;
        height: 250px;
        line-height: 350px;
    }
    .owl-prev:before,
    .owl-next:before {
        top: 200px;
    }
    .owl-stage-outer {
        margin-left: -20px;
        padding-left: 20px;
    }
    .manual-list {
        width: 100%;
    }
}

@media all and (max-width: 560px) {
    .content img.alignleft,
    .content img.alignright {
        display: block;
        float: none;
        margin: 0 auto 40px;
        clear: both;
    }
}

@media all and (max-width: 520px) {
    .container.hero-container {
        background: -moz-linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 35%, rgba(255,255,255,1) 35.1%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 35%, rgba(255,255,255,1) 35.1%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 35%, rgba(255,255,255,1) 35.1%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 35%, rgba(255,255,255,1) 35.1%, rgba(255,255,255,1) 100%);
        background: linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 35%, rgba(255,255,255,1) 35.1%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182631', endColorstr='#ffffff',GradientType=0 );
    }
    .item-content .item-text {
        margin-bottom: 35px;
    }
    .item {
        margin-bottom: 45px;
    }
    .cell-list > li {
        display: inline-block;
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .sidebar-list {
        margin-left: 0;
    }
        .sidebar-list > li {
            width: 100%;
            padding-left: 0;
        }
    .search-content-box > li {
        display: block;
        margin: 0 auto 10px;
    }
    .search-btn {
        width: 100%;
        padding-left: 0;
    }
    .wp-pagenavi,
    .em-pagination {
        margin-bottom: -15px;
    }
    .wp-pagenavi a,
    .em-pagination a {
        margin-bottom: 15px;
    }

}

@media all and (max-width: 480px) {
    .btn, a.btn {
        padding: 11px 28px 12px;
        font-size: 18px;
    }

    .title {
        max-width: 100%;
        font-size: 28px;
    }
    .section-content p {
        font-size: 18px;
    }
    .box {
        padding: 0 10px 20px;
    }

    .item-img {
        width: 250px;
        height: 250px;
        line-height: 250px;
    }
    .item-content .item-name {
        font-size: 34px;
    }

    .banner-box {
        padding-top: 25%;
    }
    .content {
        padding: 20px 20px 40px;
    }
    .page-banner-title {
        font-size: 32px;
    }
    .contact-box {
        padding: 20px 20px 40px;
    }
    .map-wrapper {
        margin-left: -20px;
        margin-right: -20px;
    }
    .content-top-box {
        padding: 0 20px;
    }
    .content-list-page {
        padding-right: 20px;
        padding-left: 20px;
    }
    .testimonials-slider {
        padding-right: 20px;
        padding-left: 20px;
    }
    #slider { max-width: 80%; }
    #slider-video { max-width: 100%; }
        .flex-direction-nav .flex-prev,
        .flexslider:hover .flex-direction-nav .flex-prev {
            left: -40px;
        }
        .flex-direction-nav .flex-next,
        .flexslider:hover .flex-direction-nav .flex-next {
            right: -40px;
        }
    #slider .flex-direction-nav,
    #slider-video .flex-direction-nav {
        display: block;
    }
    #carousel, #carousel-video { display: none; }
    #slider .flex-control-nav,
    #slider-video .flex-control-nav {
        display: block;
    }
    .flexslider .flex-control-nav {
        bottom: -45px;
    }
    .full-with-content-box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .one-product-title {
        font-size: 32px;
    }


    .wrap-404 {
        padding: 30px 0 40px;
        font-size: 50px;
    }
    .wrap-404 .error-404{
        font-size: 140px;
        margin-bottom: -25px;
    }
}

@media all and (max-width: 420px) {
    .container.hero-container {
        background: -moz-linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 30%, rgba(255,255,255,1) 30.1%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 30%, rgba(255,255,255,1) 30.1%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 30%, rgba(255,255,255,1) 30.1%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 30%, rgba(255,255,255,1) 30.1%, rgba(255,255,255,1) 100%);
        background: linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 30%, rgba(255,255,255,1) 30.1%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182631', endColorstr='#ffffff',GradientType=0 );
    }
    .btn.wide { min-width: auto; }
    .logo img {
        height: 30px;
    }
    .home-header .header-top-box {
        padding-top: 30px;
    }
    .full-with-content-box,
    .manual-box,
    .manual-title-box {
        padding-left: 15px;
        padding-right: 15px;
    }
    .manual-title-box {
        max-width: 140px;
    }
        .manual-title,
        .manual-size-box span{
            font-size: 15px;
        }
        .manual-size-box {
            width: 40px;
            text-align: center;
        }
}

@media all and (max-width: 380px) {
    .banner-box a.btn {
        margin-right: 0;
    }
    .item-img {
        width: 200px;
        height: 200px;
        line-height: 200px;
    }
    .owl-prev:before,
    .owl-next:before {
        top: 180px;
    }
    .mobile-menu-logo-box {
        padding-top: 17px;
    }
        .mobile-menu-logo-box img {
            height: 22px;
        }

    .section-main-slider {
        background: none;
    }

        .item-img {
            -webkit-box-shadow: 0 0 30px -5px rgba(205,205,205,1);
            -moz-box-shadow: 0 0 30px -5px rgba(205,205,205,1);
            -o-box-shadow: 0 0 30px -5px rgba(205,205,205,1);
            box-shadow: 0 0 30px -5px rgba(205,205,205,1);
        }

            .owl-prev:before {
                background: url(../img/content/arrow_prev_b.png) no-repeat center transparent;
            }
}

@media all and (max-width: 360px) {
    .container.hero-container {
        background: -moz-linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 27%, rgba(255,255,255,1) 27.1%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 27%, rgba(255,255,255,1) 27.1%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 27%, rgba(255,255,255,1) 27.1%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 27%, rgba(255,255,255,1) 27.1%, rgba(255,255,255,1) 100%);
        background: linear-gradient(142deg, rgba(24,38,49,1) 0%, rgba(24,38,49,1) 27%, rgba(255,255,255,1) 27.1%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182631', endColorstr='#ffffff',GradientType=0 );
    }
    .logo img {
        height: 25px;
    }
    .banner-box a {
        margin-right: 0;
    }
}

@media all and (max-width: 340px) {
    .mobile-menu-wrap .mobile-menu-toggle {
        right: 10px;
    }
}