/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:18px "Open Sans"; background:#fff; color:#415365; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { color:#000; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

/*----------------------------------------------------------------------------------*/
/*---------------------------------DEFAULT STYLES-----------------------------------*/
/*----------------------------------------------------------------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, .btn {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
a:hover,
.btn:hover,
input[type="submit"]:hover,
button:hover {
    opacity: 0.8;
}
.btn, a.btn {
    display: inline-block;
    margin: 0;
    padding: 14px 35px 13px;
    border: 3px solid #000000;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    cursor: pointer;
}
.btn:hover { text-decoration: none; }
.btn.yellow { color: #ffcc00; border-color: #ffcc00; }
.btn.yellow:hover { color: #ffffff; border-color: #ffcc00; background-color: #ffcc00; }
.btn.blue { color: #17f0d4; border-color: #17f0d4; }
.btn.blue:hover { color: #ffffff; border-color: #17f0d4; background-color: #17f0d4; }

input::-webkit-input-placeholder {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    color: #4f6370;
}
input::-moz-placeholder {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    color: #4f6370;
}
input:-ms-input-placeholder {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    color: #4f6370;
}
input:-moz-placeholder {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    color: #4f6370;
}
input:focus::-webkit-input-placeholder { opacity: 0; }
input:focus::-moz-placeholder { opacity: 0; }
input:focus:-ms-input-placeholder { opacity: 0; }
input:focus:-moz-placeholder { opacity: 0; }

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.white { color: #ffffff;}
.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.section {
    padding: 155px 0 100px;
    text-align: center;
}
    .title {
        max-width: 1040px;
        margin: 0 auto 50px;
        font-size: 36px;
        font-weight: 700;
    }
    .section-content {
        max-width: 980px;
        margin:  0 auto 50px;
    }
        .section-content p {

        }
.yellow-text {
    color: #ffcc00;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    position: relative;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 40%, rgba(0,0,0,0.4) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.4)), color-stop(60%, rgba(0,0,0,0.25)), color-stop(100%, rgba(0,0,0,0))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 40%, rgba(0,0,0,0.4) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 40%, rgba(0,0,0,0.4) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 40%, rgba(0,0,0,0.4) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 40%, rgba(0,0,0,0.4) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie6-9 */}

    .header-top-box {
        overflow: hidden;
        padding-top: 55px;
        margin-bottom: 33px;
    }
        .header-top-box .logo {
            float: left;
            margin-top: 5px;
        }
        .header-top-box .header-top-btn-box {
            float: right;
        }

/*--------------------------------------NAV-----------------------------------------*/
.main-nav {
    margin-bottom: 33px;
}
    .main-nav > ul {
        display: table;
        width: 100%;
    }
        .main-nav  ul > li {
            display: table-cell;
            table-layout: fixed;
        }
            .main-nav > ul > li > a {
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                color: #ffffff;
            }
            .main-nav  a:hover {
                color: #ffcc00;
                text-decoration: none;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*-------------------------------------HOME----------------------------------------*/
.hero-banner{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
    .hero-banner > .container {
        overflow: hidden;
    }
.hero-banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 35%, rgba(0,0,0,0.35) 55%, rgba(0,0,0,0.5) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(35%, rgba(0,0,0,0)), color-stop(55%, rgba(0,0,0,0.35)), color-stop(100%, rgba(0,0,0,0.5))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 35%, rgba(0,0,0,0.35) 55%, rgba(0,0,0,0.5) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(0,0,0,0) 35%, rgba(0,0,0,0.35) 55%, rgba(0,0,0,0.5) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(0,0,0,0) 35%, rgba(0,0,0,0.35) 55%, rgba(0,0,0,0.5) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(0,0,0,0) 35%, rgba(0,0,0,0.35) 55%, rgba(0,0,0,0.5) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
}
    .banner-box-wrap {
        float: right;
    }
        .banner-box {
            position: relative;
            display: table-cell;
            width: 500px;
            height: 1040px;
            padding-top: 92px;
            padding-bottom: 50px;
            vertical-align: middle;
        }
            .banner-title {
                margin-bottom: 34px;
                font-weight: 800;
                font-size: 100px;
                text-transform: uppercase;
                line-height: 0.9;
                letter-spacing: -3px;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
            .banner-box p {
                margin-bottom: 16px;
                font-size: 24px;
                font-weight: 400;
                line-height: 1.5;
                text-transform: uppercase;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
            .banner-box p:last-of-type {
                margin-bottom: 41px;
            }
                .banner-box a {
                    margin-right: 15px;
                }
                .banner-box a:last-child {
                    margin-right: 0;
                }
    .hero-banner-bottom-box {
        height: 140px;
        position: relative;
        overflow: hidden;
        padding: 33px 0 30px;
        z-index: 2;
        background: -moz-linear-gradient(0deg, rgba(45,57,69,0.9) 0%, rgba(45,57,69,0.9) 35%, rgba(45,57,69,0.6) 35.1%, rgba(45,57,69,0.6) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(45,57,69,0.9)), color-stop(35%, rgba(45,57,69,0.9)), color-stop(35.1%, rgba(45,57,69,0.6)), color-stop(100%, rgba(45,57,69,0.6))); /* safari4+,chrome */
        background: -webkit-linear-gradient(0deg, rgba(45,57,69,0.9) 0%, rgba(45,57,69,0.9) 35%, rgba(45,57,69,0.6) 35.1%, rgba(45,57,69,0.6) 100%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(0deg, rgba(45,57,69,0.9) 0%, rgba(45,57,69,0.9) 35%, rgba(45,57,69,0.6) 35.1%, rgba(45,57,69,0.6) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(0deg, rgba(45,57,69,0.9) 0%, rgba(45,57,69,0.9) 35%, rgba(45,57,69,0.6) 35.1%, rgba(45,57,69,0.6) 100%); /* ie10+ */
        background: linear-gradient(90deg, rgba(45,57,69,0.9) 0%, rgba(45,57,69,0.9) 35%, rgba(45,57,69,0.6) 35.1%, rgba(45,57,69,0.6) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2D3945', endColorstr='#2D3945',GradientType=1 ); /* ie6-9 */
    }
        .hero-banner-bottom-call-box {
            float: left;
            width: 33%;
        }
            .hero-banner-bottom-call-box img {
                margin-right: 44px;
            }
            .hero-banner-bottom-call-box span {
                font-size: 20px;
            }
        .hero-banner-bottom-came-see-box {
            padding-left: 60px;
        }s

        .section-communicate-trough {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/